@model TasksManagementSystem.Models.TipiViewModel
@{
    Layout = null;

}

<style>
     .edit:hover {
        cursor: pointer;
        color: black;
        font-weight: bold;
    }
</style>
@using (Html.BeginForm("AfishoTipe", "Admin", FormMethod.Post))
{

    <div>
        <input type="hidden" id="tableSel" value="@Model.table" />
        <input type="hidden" id="kategoriId" value="@Model.SelectedKategoriId" />
        @if (Model.EntitetTipList.Count() == 0)
        {
        <p>Momentalisht nuk ka rekorde.</p>
        }
        else
        {
    <table class="table">
        <thead>
            <tr>
                <th style="display:none;"> ID</th>
                <th>Emri</th>
                <th style="display:none;">ParentId</th>
            </tr>
        </thead>



        @foreach (var item in Model.EntitetTipList)
        {
            <tr class="edit"><td class="id" style="display:none">@item.nrrendor</td>
                <td>
                    @item.emertimi
                </td>
        <td style="display:none">@item.id_sup</td>
            </tr>

        }
    </table>

        }


    </div>

}
<button onclick="NewEntityTip()">New</button>

<div id="dialogtip" style="display: none">
</div>






<script type="text/javascript">
    function NewEntityTip() {
        
        
        $('#dialogtip').dialog({
            autoOpen: false,
            modal: true,
            title: "Perpuno Analize"

        });



        $.ajax({

            type: "POST",
            url: '@Url.Action("NewTipPopUp","Admin")?idKategori=' + $('#kategoriId').val() + '&name=' + $('#tableSel').val() ,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
             success: function (response) {
                $('#dialogtip').html(response);
                $('#dialogtip').dialog('open');
            }


        });

    }

    $(".edit").click(function() {
        var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find(".id").text();
        


        $('#dialogtip').dialog({
            autoOpen: false,
            modal: true,
            title: "Perpuno Analize"

        });
         
        
        $.ajax({

            type: "POST",
            url: '@Url.Action("EditimTipPopUp","Admin")?idKategori=' + $('#kategoriId').val()  + '&name=' + $('#hf').val() + '&id=' + $text,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
             success: function (response) {
                $('#dialogtip').html(response);
                $('#dialogtip').dialog('open');
            }

   
});
    });
             


</script>